// .top-level-form-wrapper {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
// }

.contact-form {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.form-label {
  font-size: 120%;
  font-weight: bold;
}

.form-input {
  margin-bottom: 15px;
}

.form-text-area {
  height: 80px;
}

.form-submit {
  width: 30%;
  padding: 8px 15px;
  margin: auto;
  font-size: 120%;
  font-weight: bold;
}

// .contact-form-group {
//   display: flex;
//   justify-content: space-between;
// }

// .flex-input {
//   width: 40vw;
//   margin-bottom: 20px;
// }