// .image-container {
//   height: 45vh;
//   width: 100%;
// }

// .img-class {
//   border-radius: 5px;
//   -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
//   -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
//   box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
//   width: 100%;
//   height: 45vh;
// }

// .buttons-wrapper {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
// }

// .new-home-grid1 {
//   display: grid;
//   grid-template-columns: 2fr 4fr;
//   width: 90%;
//   margin: auto;
//   grid-gap: 5px;
// }

// @media screen and (max-width: 870px) {
//   .new-home-grid1 {
//     grid-template-columns: 1fr;
//     grid-template-rows: 1.5fr 1fr;
//     grid-gap: 0;
//   }
// }

// .img-class {
//   max-width:100%;
//   max-height:100%;
//   border-radius: 5px;
//     -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
//     -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
//     box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
// }

.title-wrapper {
  margin-top: 35px;
}

@media screen and (max-width: 550px) {
  .title-wrapper {
    width: 80%;
  }
}

// @media screen and (max-width: 600px) {
//   .main-title {
//     font-size: 1px;
//   }
// }

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.new-home-grid1 {
  display: grid;
  grid-template-columns: 3fr 4fr;
  width: 60%;
  grid-gap: 5px;
  justify-content: center;
  align-content: center;

  .side-section {
    display: flex;
    justify-content: center;
    // flex-basis: auto;
  }

  .font-awesome {
    font-size: 18rem;
    color: rgb(147, 147, 147);
  }
}

@media screen and (max-width: 870px) {
  .new-home-grid1 {
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 1fr;
    width: 100%;
  }
}