/* Animations */

// Title animation
@keyframes title-fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

// Title Wrapper styles
.title-wrapper {
  margin-top: 35px;
}

@media screen and (max-width: 650px) {
  .title-wrapper {
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .title-wrapper {
    width: 80%;
  }
}

// Main block of styles
.main-title {
  // margin: 0;
  text-align: center;
  justify-self: center;
  animation: title-fade-in 2.5s;
  font-size: 2.5rem;
  font-family: 'Cinzel';
  width: 100%;
}

.main-sub-title {
  color: #3b3b3b;
  opacity: .8;
  text-align: center;
  justify-self: center;
  font-size: 1.3rem;
  font-family: 'Cabin';
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  // margin-bottom: 50px;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.new-home-grid1 {
  display: grid;
  grid-template-rows: 3fr 4fr;
  width: 55%;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  margin-top: 50px;

  .panel-text {
    text-align: center;
    font-size: 1.5rem;
    // font-size: 1.75vw;
    height: 80%;
  }

  .side-section {
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: translateY(70px);
  }

  .font-awesome {
    font-size: 10rem;
    color: #3b3b3b;
  }
}

.form-wrapper {
  display: flex;
  width: 90%;
  max-width: 700px;
  justify-content: center;
}

// Updates upon screen width below 870px
@media screen and (max-width: 870px) {
  .new-home-grid1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .side-section {
      display: flex;
      justify-content: center;
    }
  }
}

// Updates upon screen width below 700px
@media screen and (max-width: 700px) {

  .main-title {
    font-size: 2.1rem;
  }
  
  .new-home-grid1 {
    justify-content: left;
    width: 100%;

    .side-section {
      display: none;
    }

    .panel-text {
      text-align: left;
      // font-size: 2rem;
    }
    
    .panel-icon {
      display: none;
    }
  }
}
